body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 1px;
  }
  
  .logo {
    height: 0px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 10px;

  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover{
    color: black;
  }

  
  main {
    padding: 2rem;
  }
  
  main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  main p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  main button {
    border-radius: 5px;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  footer {
    background-color: grey;
    padding: 1px;
    text-align: center;
  }
  
  footer p {
    color: white;
  }